@import '../../dist/bower_components/normalize-css/normalize';
@import '../../dist/bower_components/bourbon/app/assets/stylesheets/bourbon';
$visual-grid: true;
@import '../../dist/bower_components/neat/app/assets/stylesheets/neat';

// Predefined Media Query Break-points //

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// saved data //

.fonts {
  font-family: 'Raleway', sans-serif; //////////////// thin or bold sans ///////
  font-family: 'Mountains of Christmas', cursive; //// goofy christmas /////////
  font-family: 'Playfair Display', serif; //////////// serif ///////////////////
  font-family: 'Annie Use Your Telescope', cursive; // logo font, handwritten //
  font-family: 'Great Vibes', cursive; /////////////// fancy curly formal //////
}

.colors {
  color: #b30000; // //
  color: #00ccff; // //
  color: #6036e3; //
}

// other mixins //

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// down to business //

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
  font-family: 'Raleway', sans-serif; // thin sans //
  font-weight: 300;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#app {
  @include outer-container();
  @include vertical-align();
}

main {
  @include outer-container();
  background: #c0ffff;
}

.logo {
  font-family: 'Annie Use Your Telescope', 'Helvetica', 'Arial', sans-serif; // logo //
  text-align: center;
  font-size: 100px;
}

.homeHeader h1 {
  font-family: 'Annie Use Your Telescope', cursive; // logo font, handwritten //
  text-align: center;
  font-size: 50px;
}

nav {
  @include span-columns(12);
  text-align: center;
}

a {
  color: #003BB4;
  text-decoration: none;
}
