@import '../../dist/bower_components/normalize-css/normalize';
@import '../../dist/bower_components/bourbon/app/assets/stylesheets/bourbon';
// $visual-grid: true;
@import '../../dist/bower_components/neat/app/assets/stylesheets/neat';

// Predefined Media Query Break-points //
//
// $tablet-width: 768px;
// $desktop-width: 1024px;
//
// @mixin tablet {
//   @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
//     @content;
//   }
// }
//
// @mixin desktop {
//   @media (min-width: #{$desktop-width}) {
//     @content;
//   }
// }
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Annie Use Your Telescope', 'Helvetica', 'Arial', sans-serif; // logo //
  font-weight: 300;
  font-size: 2.5vw;
  background: #babec9 url("../assets/bg.jpg") left top no-repeat fixed;
  background: rgba(255,255,255,0.6) fixed, #babec9 url("../assets/bg.jpg") left top no-repeat fixed;/* Old Browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(211,211,211,0.6) 100%) fixed, #babec9 url("../assets/bg.jpg") left top no-repeat fixed;/* FF3.6+ */
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(100%, rgba(211,211,211,0.6))) fixed, #babec9 url("../assets/bg.jpg") left top no-repeat fixed;/* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(211,211,211,0.6) 100%) fixed, #babec9 url("../assets/bg.jpg") left top no-repeat fixed;/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(211,211,211,0.6) 100%) fixed, #babec9 url("../assets/bg.jpg") left top no-repeat fixed;/* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(211,211,211,0.6) 100%) fixed, #babec9 url("../assets/bg.jpg") left top no-repeat fixed;/* IE 10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(211,211,211,0.6) 100%) fixed, #babec9 url("../assets/bg.jpg") left top no-repeat fixed;/* W3C */
}
img {
  max-width: 100%;
}
#app {
  @include outer-container(100%);
  height: 100%;
  > div {
    height: 100vh;
  }
}
.logo {
  color: #666;
  text-align: center;
  font-size: 7vw;
  padding: 0 2vw 0 0;
}
.homeHeader {
  padding: 2vw 2vw 0 2vw;
  background-color: rgba(228, 228, 235, 0.6);
  border-bottom: solid 0.2vw #777;
  -webkit-box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.30);
}
.headerTitle {
  display: inline-block;
  text-align: center;
  font-size: 4vw;
  margin: 0;
}
a {
  color: #003BB4;
  text-decoration: none;
  padding-left: 2vw;
}
.logoImg {
  width: 9vw;
}
.hero {
  padding: 0 2vw 2vw 2vw;
  text-align: center;
  h2 {
    margin-bottom: 1vw;
  }
}
.heroVideo {
  border: dotted 0.3vw #777;
  width: 90vw;
  margin: 0 auto;
}
.button {
  padding: 0.6vw 1.2vw;
  border: 0.18vw solid #cccccc;
  background-color: #F0F0F0;
  -webkit-box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.20);
  box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.20);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  }
.button:active {
  border: 0.1vw solid #ffffff;
  background-color: #4A4F5C;
  }
.dashboard {
  height: 100vh;
}
.timeline {
  padding: 5vw;
}
.cardCreator {
  position: relative;
  height: 100vh;
  padding-top: 0.5vw;
  text-align: center;
  .slide {
    position: absolute;
    width: 100vw;
  }
  .prevSlide {
    left: -100%;
  }
  .currentSlide {
    width: 90vw;
    left: 5vw;
  }
  .nextSlide {
    left: 100%;
  }
  .controls {
    position: absolute;
    z-index: 5;
    width: 100vw;
    top: 45vh;
    .controlBtn {
      position: absolute;
      background: none;
      font-size: 8vw;
      border: none;
      color: #003BB4;
      outline: none;
    }
    .previous {
      left: 0;
    }
    .next {
      right: 0;
    }
  }
}
.bgSelector {
  .colorPicker {
    cursor: pointer;
    margin: 1vw;
    height: 13vw;
    width: 13vw;
    float: left;
    border: solid 0.3vw #777;
    border-radius: 3vw;
  }
  .one {
    background-color: #ffffff;
  }
  .two {
    background-color: #898989;
  }
  .three {
    background-color: #FF1747;
  }
  .four {
    background-color: #FFFF77;
  }
  .five {
    background-color: #FE9901;
  }
  .six {
    background-color: #BBE0F3;
  }
  .seven {
    background-color: #b30000;
  }
  .eight {
    background-color: #87D5AB;
  }
  .nine {
    background-color: #6036e3;
  }
  .ten {
    background-color: #152743;
  }
  .eleven {
    background-color: #029680;
  }
  .twelve {
    background-color: #00ccff;
  }
}
.cardCreator {
  /** Previous Button is Clicked **/
  .card__previous-enter {
    left: -100%;
  }
  .card__previous-enter.card__previous-enter-active {
    left: 5%;
    transition: left 400ms ease-in;
  }
  .card__previous-leave {
    left: 5%;
  }
  .card__previous-leave.card__previous-leave-active {
    left: 100%;
    transition: left 400ms ease-in;
  }
  /** Next Button is Clicked **/
  .card__next-enter {
    left: 100%;
  }
  .card__next-enter.card__next-enter-active {
    left: 5%;
    transition: left 400ms ease-in;
  }
  .card__next-leave {
    left: 5%;
  }
  .card__next-leave.card__next-leave-active {
    left: -100%;
    transition: left 400ms ease-in;
  }
}
.cardText {
  margin: 0 auto;
  display: block;
  width:60vw;
  resize: none;
}
.fontSelects {
  margin: 0 auto;
  text-align: center;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
  .fontSize, .fontFamily {
    margin: 1vw;
  }
}
.fontColor {
  margin: 0 auto;
  text-align: center;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
  .fontColorPicker {
    cursor: pointer;
    margin: 0.6vw;
    height: 6vw;
    width: 6vw;
    border: solid 0.25vw #777;
    border-radius: 1.5vw;
    display: inline-block;
  }
  .one {
    background-color: #000000;
  }
  .two {
    background-color: #898989;
  }
  .three {
    background-color: #ffffff;
  }
  .four {
    background-color: #c3002a;
  }
  .five {
    background-color: #00473d;
  }
  .six {
    background-color: #200282;
  }
}
.preview {
  background-color: #dddddd;
  margin: 4vw auto 0 auto;
  padding: 2vw;
  border: dotted 0.3vw #777;
  height:40vw;
  width:60vw;
  position: relative;
  -webkit-box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.36);
  box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.36);
  h1 {
    position: absolute;
    text-align: center;
    margin: 0;
    word-wrap:break-word;
    width: 56vw;
    max-width: 56vw;
    max-height: 36vw;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.toForm {
  fieldset {
    margin: 0 auto;
    border: none;
    width: 44vw;
  }
  .form {
    margin: 0.5vw;
    width: 22vw;
    float: left;
  }
  span {
    float: left;
  }
  label {
  	float: left;
  	text-align: right;
  	margin-right: 1.2vw;
  	width: 11vw;
  }
}
.submitCard {
  display: block;
  font-size: 4vw;
  width: 30vw;
  opacity: 0;
  margin: 6vw auto 0 auto;
  cursor: default;
}
