@import '../../dist/bower_components/normalize-css/normalize';
@import '../../dist/bower_components/bourbon/app/assets/stylesheets/bourbon';
// $visual-grid: true;
@import '../../dist/bower_components/neat/app/assets/stylesheets/neat';

html {
  font-size: 62.5%;
}
body {
  @include media(min-width 800px) {
    font-size: 2.8vmin;
  }
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif; // logo //
  font-weight: 200;
  font-size: 3.8vmin;
  background: rgba(255,255,255,0.6) fixed, #babec9 url("../assets/bg1.jpg") left top no-repeat fixed;/* Old Browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(211,211,211,0.6) 100%) fixed, #babec9 url("../assets/bg1.jpg") left top no-repeat fixed;/* FF3.6+ */
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(100%, rgba(211,211,211,0.6))) fixed, #babec9 url("../assets/bg1.jpg") left top no-repeat fixed;/* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(211,211,211,0.6) 100%) fixed, #babec9 url("../assets/bg1.jpg") left top no-repeat fixed;/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(211,211,211,0.6) 100%) fixed, #babec9 url("../assets/bg1.jpg") left top no-repeat fixed;/* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(211,211,211,0.6) 100%) fixed, #babec9 url("../assets/bg1.jpg") left top no-repeat fixed;/* IE 10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(211,211,211,0.6) 100%) fixed, #babec9 url("../assets/bg1.jpg") left top no-repeat fixed;/* W3C */
  background-size: cover;
}
img {
  max-width: 100vmin;
}
#app {
  @include outer-container(100vmin);
  height: 100vmin;
}
h1 {
  @include media(min-width 800px) {
    font-size: 3.5vmin;
  }
  font-size: 6vmin;
  font-weight: 200;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.9);
}
h2 {
  @include media(min-width 800px) {
    font-size: 3vmin;
  }
  font-size: 5vmin;
  font-weight: 200;
}
.homeHeader {
  @include media(min-width 800px) {
    height: 7.6vmin;
  }
  padding: 0;
  height: 10vmin;
  position: fixed;
  z-index: 11;
  top: 0;
  width: 100vmin;
  background-color: rgba(230, 230, 235, 0.7);
  border-right: solid 0.2vmin #777;
  border-left: solid 0.2vmin #777;
  border-bottom: solid 0.2vmin #777;
  border-bottom-right-radius: 1vmin;
  border-bottom-left-radius: 1vmin;
  -webkit-box-shadow: 0 0 35px 5px rgba(0,0,0,0.30);
  -moz-box-shadow: 0 0 35px 5px rgba(0,0,0,0.30);
  box-shadow: 0 0 35px 5px rgba(0,0,0,0.30);
  a,
  span {
    @include media(min-width 800px) {
      line-height: 8.5vmin;
    }
    vertical-align: top;
    line-height: 11.5vmin;
  }
}
.logo {
  padding: 0;
  vertical-align: top;
  overflow: auto;
}
.logoImg {
  @include media(min-width 800px) {
    width: 8vmin;
    margin: 0.7vmin
  }
  width: 11.5vmin;
  margin: 0.5vmin;
}
.headerLogo {
  @include media(min-width 800px) {
    font-size: 3.5vmin;
    padding: 0 2vmin 0 0;
    line-height: 7.6vmin;
  }
  font-family: 'Great Vibes', 'Helvetica', 'Arial', sans-serif; // logo //
  font-size: 6.6vmin;
  padding: 0;
  line-height: 7.6vmin;
  vertical-align: text-bottom;
}
.headerTitle {
  @include media(min-width 800px) {
    display: inline-block;
  }
  display: none;
  line-height: 7.6vmin;
  font-size: 2.8vmin;
  text-align: center;
  vertical-align: top;
  margin: 0;
}
a {
  @include media(min-width 800px) {
    font-size: 2.7vmin;
  }
  font-family: 'Annie Use Your Telescope', 'Helvetica', 'Arial', sans-serif; // logo //
  font-size: 4.5vmin;
  color: #003BB4;
  text-decoration: none;
  padding-left: 1.3vmin;
}
header,
.usernav {
  float: right;
  margin-right: 1vmin;
}
.hero {
  padding: 10vmin 0.5vmin 0.5vmin;
  text-align: center;
  h2 {
    margin-bottom: 1vmin;
  }
}
.heroVideo {
  border: dotted 0.3vmin #777;
  display: block;
  width: 75vmin;
  margin: 0 auto 2vmin;
  clear: both;
}
button,
input {
  font-family: 'Annie Use Your Telescope', 'Helvetica', 'Arial', sans-serif; // logo //
}
.button {
  font-family: 'Annie Use Your Telescope', 'Helvetica', 'Arial', sans-serif; // logo //
  padding: 0.6vmin 1.2vmin;
  border: 0.18vmin solid #cccccc;
  background-color: #F0F0F0;
  box-shadow: 0 0 35px 5px rgba(0,0,0,0.20);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}
.button:active {
  border: 0.1vmin solid #ffffff;
  background-color: #4A4F5C;
}
.userForm {
  padding: 10vmin 0.5vmin 0.5vmin;
}
.registerSuccess {
  background-color: rgba(135, 213, 171, 0.75);
}
.dashboard {
  height: 100vmin;
}
.timeline {
  padding: 7.5vmin 5vmin 5vmin;
  overflow: scroll;
  .cardWrapper {
    height: 130px;
    overflow: scroll;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .outerwrap {
    display: inline-block;
  }

  .wrap {
    margin: 0.75vmin;
    padding: 0;
    display: inline-block;
    // overflow: hidden;
    date {
      display: block;
    }
  }
  .frame {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 100px;
    border: dotted 2px #777;
    overflow: hidden;
  }
}
.cardCreator {
  position: relative;
  height: 91.8vmin;
  padding-top: 0.5vmin;
  text-align: center;
  .slide {
    position: absolute;
    width: 100vmin;
  }
  .prevSlide {
    left: -100%;
  }
  .currentSlide {
    width: 90vmin;
    left: 5vmin;
  }
  .nextSlide {
    left: 100%;
  }
  .controls {
    position: absolute;
    z-index: 5;
    width: 100vmin;
    top: 45vmin;
    .controlBtn {
      font-family: 'Annie Use Your Telescope', 'Helvetica', 'Arial', sans-serif; // logo //
      position: absolute;
      background: none;
      font-size: 8vmin;
      border: none;
      color: #003BB4;
      outline: none;
    }
    .previous {
      left: 0;
    }
    .next {
      right: 0;
    }
  }
}
.bgSelector {
  .colorPicker {
    @include media(min-width 800px) {
      margin: 1vmin;
      width: 13vmin;
    }
    cursor: pointer;
    margin: 0.5vmin;
    width: 21.5vmin;
    height: 13vmin;
    float: left;
    border: solid 0.3vmin #777;
    border-radius: 3vmin;
  }
  .one {
    background-color: #ffffff;
  }
  .two {
    background-color: #898989;
  }
  .three {
    background-color: #FF1747;
  }
  .four {
    background-color: #FFFF77;
  }
  .five {
    background-color: #FE9901;
  }
  .six {
    background-color: #BBE0F3;
  }
  .seven {
    background-color: #b30000;
  }
  .eight {
    background-color: #87D5AB;
  }
  .nine {
    background-color: #6036e3;
  }
  .ten {
    background-color: #152743;
  }
  .eleven {
    background-color: #029680;
  }
  .twelve {
    background-color: #00ccff;
  }
}
.cardCreator {
  /** Previous Button is Clicked **/
  .card__previous-enter {
    left: -100%;
    opacity: 0;
  }
  .card__previous-enter.card__previous-enter-active {
    left: 5%;
    opacity: 1;
    transition: left 400ms ease-in, opacity 400ms linear;
  }
  .card__previous-leave {
    opacity: 1;
    left: 5%;
  }
  .card__previous-leave.card__previous-leave-active {
    left: 100%;
    opacity: 0;
    transition: left 400ms ease-in, opacity 400ms linear;
  }
  /** Next Button is Clicked **/
  .card__next-enter {
    opacity: 0;
    left: 100%;
  }
  .card__next-enter.card__next-enter-active {
    left: 5%;
    opacity: 1;
    transition: left 400ms ease-in, opacity 400ms linear;
  }
  .card__next-leave {
    opacity: 1;
    left: 5%;
  }
  .card__next-leave.card__next-leave-active {
    opacity: 0;
    left: -100%;
    transition: left 400ms ease-in, opacity 400ms linear;
  }
}
.cardText {
  margin: 0 auto;
  display: block;
  width: 60vmin;
  resize: none;
}
.fontSelects {
  margin: 0 auto;
  text-align: center;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
  .fontSize,
  .fontFamily {
    margin: 1vmin;
  }
}
.fontColor {
  margin: 0 auto;
  text-align: center;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
  .fontColorPicker {
    @include media(min-width 800px) {
      margin: 0.6vmin;
      height: 6vmin;
      width: 6vmin;
    }
    cursor: pointer;
    margin: 1vmin;
    height: 12vmin;
    width: 12vmin;
    border: solid 0.25vmin #777;
    border-radius: 1.5vmin;
    display: inline-block;
  }
  .one {
    background-color: #000000;
  }
  .two {
    background-color: #505050;
  }
  .three {
    background-color: #ffffff;
  }
  .four {
    background-color: #c3002a;
  }
  .five {
    background-color: #00473d;
  }
  .six {
    background-color: #200282;
  }
}
.preview {
  background-color: #dddddd;
  margin: 4vmin auto 0;
  padding: 1px;
  border: dotted 0.3vmin #777;
  height: 42.5vmin;
  width: 62.5vmin;
  position: relative;
  box-shadow: 0 0 35px 5px rgba(0,0,0,0.36);
  h1 {
    position: absolute;
    text-align: center;
    margin: 0;
    word-wrap: break-word;
    width: 62.5vmin;
    max-width: 62.5vmin;
    max-height: 42.5vmin;
    overflow: hidden;
    top: 50%;
    text-shadow: none;
    transform: translateY(-50%);
  }
}
.toForm {
  fieldset {
    margin: 0 auto;
    border: none;
    width: 66vmin;
    @include media(min-width 800px) {
      width: 44vmin;
    }
  }
  .form {
    font-family: 'Annie Use Your Telescope', 'Helvetica', 'Arial', sans-serif; // logo //
    margin: 0.5vmin;
    width: 37.3vmin;
    @include media(min-width 800px) {
      width: 22vmin;
    }
    float: left;
  }
  span {
    float: left;
  }
  label {
    float: left;
    text-align: right;
    margin-right: 1.2vmin;
    width: 20.5vmin;
    @include media(min-width 800px) {
      width: 15.4vmin;
    }
  }
}
.submitCard {
  display: block;
  font-size: 4vmin;
  width: 30vmin;
  opacity: 0;
  margin: 6vmin auto 0;
  cursor: default;
}
.subForm {
  padding: 7.5vmin 5vmin 5vmin;
  overflow: scroll;
  h1 {
    position: relative;
    width: 100%;
    text-align: center;
  }
}
.form-row {
  @include outer-container(94vmin);
  article {
    margin-bottom: 3vmin;
  }
}
article.plan {
  @include media(min-width 800px) {
    width: 21vmin;
  }
  margin: 0.75vmin;
  width: 43.5vmin;
  height: 43.5vmin;
  float: left;
  border-radius: 1vw;
  border: 0.2vmin solid #777;
  padding-top: 2vmin;
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  label {
    cursor: pointer;
    display: inline-block;
    margin-top: 7vmin;
    width: 100%;
    text-align: center;
  }
  p {
    text-align: center;
  }
}
#solo {
  background: #FE9901;
}
#basic {
  background: #6036E3;
}
#premium {
  background: #FF1747;
}
#platinum {
  background: #E2E2E2;
}
.paymentSubmit {
  width: 100%;
  margin-top: 3vmin;
}
.solo {
  h3 {
    color: #FE9901;
  }
  .paymentSubmit {
    background: #FE9901;
  }
}
.basic {
  h3 {
    color: #6036E3;
  }
  .paymentSubmit {
    background: #6036E3;
  }
}
.premium {
  h3 {
    color: #FF1747;
  }
  .paymentSubmit {
    background: #FF1747;
  }
}
.platinum {
  h3 {
    color: #E2E2E2;
  }
  .paymentSubmit {
    background: #E2E2E2;
  }
}
.hide_until_plan_selected {
  background-color: rgba(135, 213, 171, 0.75);
  border-radius: 0.5vw;
  border: 0.2vw solid #000;
  h3 {
    display: block;
    text-align: center;
    background: rgba(21, 39, 67, 0.87);
    margin: 0;
    padding-bottom: 1vmin;
    margin-bottom: 1vmin;
  }
  .float {
    display: inherit;
    text-align: left;
    float: left;
  }
  span {
    float: left;
  }
}
.fancy-enter {
  opacity: 0.01;
}
.fancy-enter.fancy-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fancy-leave {
  opacity: 0;
}
.fancy-leave.fancy-leave-active {
  opacity: 0;
}
.cc {
  margin-left: 8vmin;
}
.successMsg {
  background-color: rgba(135, 213, 171, 0.75);
  margin-top: 3vmin;
  button {
    float: right;
  }
  p {
    clear: both;
  }
}
.failMsg {
  background-color: rgba(255, 23, 71, 0.75);
  margin-top: 3vmin;

  button {
    float: right;
  }
  p {
    clear: both;
  }
}
